<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings></connectionStrings>
	<connectionStrings>
		<add name ="usuario"
			connectionString="Database=usuario;Server=DESKTOP-KP5NFE9\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    
</configuration>